.container {
  max-width: 30%;
  margin: 0 auto;
  position: relative;
    .btn {
    position: fixed;
      bottom: 20px;
      right: 20px;
    padding: 10px;
    text-transform: uppercase;
    background-color: grey;
  }
}

.none {
  display: none;
}

.a {
  position: fixed;
  top: 0;
  left: 120px;
  
}